// Cells

.active {
  background-color: black;
}

// Control Panel

.controlPanel {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

// hit limit on speed max/min
.speedLimit {
  background-color: gray;
}

// Patterns

.patternBtn {
  text-transform: capitalize;
}
