@import "/styles/reset";
@import "/styles/global";
@import "/styles/variables";

.mobile {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.App {
  width: 80%;
  margin: 0 auto;
  font-family: $primary-font;

  button {
    outline: none;
  }

  h1,
  h2 {
    font-family: $header-font;
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
}

// Header

.header {
  margin: 3rem 0;
}

.may {
  color: $stop;
  font-style: italic;
}

.generation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    width: 50%;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  .status {
    width: 30px;
    height: 40px;
  }

  .play {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 20px 0px 20px 34px;
    border-color: transparent transparent transparent $main-color;
  }

  .pause {
    border-left: 10px solid $main-color;
    border-right: 10px solid $main-color;
    margin-right: 12px;
  }
}

// Dashboard

.dashboard {
  display: flex;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $main-color;
    border-right: none;
    padding: 2rem;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
      border: none;
    }
  }

  .patterns {
    border: 1px solid $main-color;
    border-left: none;
    padding: 2rem;

    @media (max-width: $breakpoint-tablet) {
      border: none;
    }
  }
}

// Grid

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: content-box;
  border: 3px solid black;
  height: 625px;
  width: 625px;

  @media (max-width: $breakpoint-tablet) {
    height: 300px;
    width: 300px;
  }
}

.row {
  display: flex;
}

// Cells

.cell {
  border: 1px solid $main-color;
  background: white;
  height: 25px;
  width: 25px;

  @media (max-width: $breakpoint-tablet) {
    height: 12px;
    width: 12px;
    padding: 0;
  }
}

.active {
  background-color: $main-color;
}

// Control Panel

.controlPanel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    width: 75%;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  .start {
    background: $start;
  }

  .stop {
    background: $stop;
  }
}

.patterns,
.controlPanel {
  button {
    border: 2px solid $main-color;
    background-color: white;
    padding: 0.5rem;
    text-transform: capitalize;
  }

  .active:hover {
    background: $main-color;
    color: white;
  }

  button:disabled {
    border-color: $deactivated;
    color: $deactivated;
  }
}

// Patterns

.patterns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: $breakpoint-tablet) {
    align-items: center;
    flex-direction: row;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.patternGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  @media (max-width: $breakpoint-mobile) {
    margin: 10px;
  }
}

.thumbnail {
  border: 1px solid $main-color;
  width: 125px;
  height: 125px;
}

// Side Panel

.sidePanel {
  font-size: 1.75rem;
  background-color: lightgray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
    color: $main-color;
  }

  a:hover {
    color: white;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    margin: 1rem;
  }

  .top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  .github {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;
  }
}
